@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root{    
    /*Colors*/
    --background: #c76a0e;
    --background-options: #6d36038a;   
    --menu-color: #964f08;
    --color3: #d99651;

    /*Fonts*/
    --font-menu: 'Mukta', sans-serif;

}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*General Settings*/
.flex {
    display: flex; 

}

body {
    font-family: var(--font-menu);

}

/*Header*/
header {
    background-color: var(--background);
    height: 150px; 

}


button#btn-menu {
    position: relative;
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    margin: 10px 20px 0px 10px;
    padding: 5px 0px 0px 4px;
    cursor: pointer;
    z-index: 1;
    
}

button.active {
    background-color: var(--background-options) !important;
    border-radius: 50%;

}

span.menu-bar {
    display: block;
    background-color: black;
    height: 5px;
    width: 32px;
    margin-bottom: 6px;
    border-radius: 2px; 
    transform-origin: center; 
    transition: .3s ease;
    
}

button.active span.menu-bar:nth-child(1){
    transform: translateY(11px) rotate(45deg);

}

button.active span.menu-bar:nth-child(2){
    transform: translateX(100vw);
    width: 0;

}

button.active span.menu-bar:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);

}

menu.main-menu{ 
    display: none;
    position: relative;
    background-color: var(--menu-color);
    height: 210px;
    width: 130px;
    left: -91px;
    padding: 10px 40px 10px 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.322);

}

ul {
    list-style: none; 
    position: absolute; 
    top: 61px;
    left: 34px;

}

li a {
    text-decoration: none;
    color: white;
    transition: .3s ease;

}

li:hover a{
    background-color: var(--background-options);
    position: relative;
    transform: scale(1.1);
    width: 100px;
    left: -7px;
    padding-left: 10px;
    

}

div#container-img { 
    position: relative;
    margin: 0 auto;

    
}

div#container-img img {
    position: absolute;
    height: 350px;
    width: 120px;
    top: -73%;

}
