@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root{    
    /*Colors*/
    --background: #c76a0e;
    --background-options: #6d36038a;   
    --menu-color: #964f08;
    --color3: #d99651;

    /*Fonts*/
    --font-menu: 'Mukta', sans-serif;

}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*General Settings*/
html, body {
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden; */

}

body {
    font-family: var(--font-menu);

}

.flex {
    display: flex; 
    justify-content: space-between;


}

div#element-col {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px 0px;
    flex-grow: 3;

}

/*Header*/
header {
    background-color: var(--background);
    height: 150px; 
    width: 100%;

}

button#btn-menu {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    margin: 10px 20px 0px 10px;
    padding: 5px 0px 0px 4px;
    cursor: pointer;
    z-index: 1;
    
}

button:hover, .active {
    background-color: var(--background-options) !important;
    border-radius: 50%;

}

span.menu-bar {
    display: block;
    background-color: black;
    height: 5px;
    width: 32px;
    margin-bottom: 6px;
    border-radius: 2px; 
    transform-origin: center; 
    transition: .3s ease;
    
}

.active span.menu-bar:nth-child(1){
    transform: translateY(11px) rotate(45deg);

}

.active span.menu-bar:nth-child(2){
    transform: translateX(100vw);
    width: 0;

}

.active span.menu-bar:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);

}

menu.main-menu{ 
    display: none;
    background-color: var(--menu-color);
    height: 210px;
    width: 130px;
    padding: 10px 40px 10px 60px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.322);

}

ul {
    list-style: none; 
    position: relative;

}

li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: .3s ease;

}

li:hover a{
    background-color: var(--background-options);

    transform: scale(1.01);
    width: 103px;

    padding-left: 10px;
    

}


img#logo {


}

input[type=text] {
    display: noe;
    height: 28px;
    width: 89%;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
}

#container-search {
    flex-grow: 1;

}

div#lupa {
    align-self: flex-start;


}

div#lupa img{
    position: absolute;
    height: 30px;
    width: 30px;   

    z-index: 1;

}

input[type=submit] {
    position: absolute;
    background-color: var(--background-options);
    border: 1px solid black;
    height: 28px;
    width: 64px;
    margin-right: 20px;
    cursor: pointer;

}
